/*Global Attributes*/
/*Remember to clean up css and html at the end of the project/ Thur 12 Nov 2020*/
/*For whatever reason, the 'schedule block' and 'orientation block' are stack on top each other Fri 14 Nov 2020*/
html {
	font-family: verdana, "sans-serif";
}

.titlebar, .intro, .schedule, .learn, .thesis, .footer {
	margin-top: 2%;
}

/***************************Title Bar*************************/
.titlebar {
	border: solid black 2px;
	/*position: fixed;*/
}

.logo p, .logo li {
	display: inline;
}

.logo ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right; /*Floating aligns the paragraph and list on the same line*/
	
}

.logo li {
	padding-left: 16px;
}

/***********************Opening Pitch***************************/


.openContainer {
	border: solid red 2px;
 /*Not needed for the desktop version (I think) but will be needed for mobile version Fri 14 Nov 2020*/
	display: flex;
	justify-content: space-around; 
	background-color: rgb(211,211,211);/*lightgray*/
	color:  rgb(51,51,51); /*dark gray*/
}

.pitchPic {
	width: 60%; /*DONT TOUCH until picture is inserted*/
	height: 60%;
	border: red solid 1px;
	margin: 32px 24px; /*margin: top bottom left right*/
}

.pitchPic img{
	width: 100%;
	height: 100%;
}

.pitch {
	width: 50%;
	border: red solid 1px;
	text-align: left;
	padding: 30px;
}

.pitch h4 {
	font-size: 15px;
}

.pitch h3 {
	font-size: 24px;
}

.pitch button {
	border: none;
	font-size: 15px;
	color: rgb(211,211,211);
	background-color:  rgb(51,51,51);
	padding-bottom: 8px;
	padding-top: 8px;
	width: 100%;
}


/*.intro {
	width: 100%;
	border: solid red 2px;
}
 .intro h3 {
	position: relative;
	text-align: right;
 }
 
 .intro h4{
	position: relative;
	text-align: right;
 }
 
 .intro h3, .intro h4 {
	margin: 0 auto;
 }*/
 
 /*Place 'intro' section into a flexbox Thur 12 Nov 2020*/

/*********************Schedule*******************/

.scheduleContainer {
	border: solid purple 2px;
	float: right;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.quoteBlock {
	border: dotted 5px purple;
	width: 60%;
	padding: 32px 24px;
	/*float: left;*/
}

.quoteBlock img{
	width: 100%;
}

.eventBlock {
	border: dotted 5px purple;
	width: 40%;
	/*float: right;*/
}

.orientation, .campus, .lecture {
	border: solid 8px purple;
}

.eventBlock h5{
	font-size: 20px;
}

.eventBlock img{
	width: 50%;
	height: auto;
}

.orientationText, .campusText, .lectureText{
	width: 65%;
	/*This needs to be fix, right now the text does not shrink when the screen is minimize but when the screen is expanded the picture and the text are align perfectly Thurs 19 Nov 2020*/
}

/*.scheduleContainer{
	/*border: solid purple 2px;
	float: right;
	flex-direction: column;
	display; column;
	width: 100%;	
}

/*.scheduleContainer .quoteBlock {
	border: solid purple 2px;
	display: flex;
	flex-direction: column;
	width: 60%;
	z-index: -1;
	position: relative;
}*/

/*.schedule*/ /*.quoteBlock {
	border: solid purple 1px;
	position: relative;
	width: 25%;
	float: left;
	margin-top: 5%;
	
}

.schedule {
	/*border: solid purple 2px;*/
	/*flex-direction: column;*/
	/*float: right;*/
	/*margin-top: 5%;*/
/*}

.schedule .orientation {
	border: solid purple 5px;
	/*position: relative;*/
	/*width: 25%;
	
}

.schedule .campus {
	border: solid purple 10px;
	/*position: relative;*/
	/*width: 25%;
	
}

.schedule .lecture {
	border: dotted purple 5px;
	/*position: relative;*/
	/*width: 25%;
}*/
/*For this section, in order for both the 'quote' section and the 'schedule' section both need to be set to float, in opposite directions? (may need to fix that later down the line) Also, the container itself needs to float in a direction in order for the content to remain inside the container. Found this out my using console option on the uab web page,  Thur 12 Nov 2020*/

/*Towards the end of this project, the 'schedule' section needs to be combined Thur 12 Nov 2020*/

/********************Courses**********************/
.heading {
	border: solid green 4px;
	display: flex;	
	padding-bottom: 32px;
	padding-top: 32px;
}


.learnContainer {
	border: solid green 2px;
	/*flex-direction: column;*/
	/*float: right;*/
	display: flex;
	padding-right: 72px;
	padding-left: 72px;
}

.classes {
	border: solid green 4px;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.classes img {
	width: 100%;
	height: auto;
}

.data, .marketing, .business, .design, .computerArt, .software {
	border: dotted green 6px;
	width: 30%;
	/*align-content: space-evenly;*/
	flex: 30%;
}

.software,  .data{
	margin-right: 32px;	
}

.computerArt, .business{
	margin-right: 32px;
}

.data, .business, .marketing{
	margin-top: 32px;
}

/********************Thesis************************/
.thesisContainer {
	border: solid blue 2px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	/*flex-direction: row; /*Not needed for the desktop version (I think) but will be needed for mobile version Fri 14 Nov 2020*/
	/*float: right;*/
}

.thesisTitle{
	border: solid blue 3px;
	display: flex;
}

.thesisInfo, .exhibits {
	border: solid blue 1px;
}

.exhibits {
	/*float: right;*/
	width: 40%;
}

.exhibit1, .exhibit2{
	border: dotted 3px blue;
}

.exhibits img{
	width: 35%;
	height: auto;
}

.exhibit1Text, .exhibit2Text{
	width: 65%;
	
	
}

.thesisInfo {
	/*float: left;*/
	width: 25%;
	flex-grow: 1;
	padding: 24px;
	padding-top: 0;
}


.thesisVideo video{
	width: 100%;
}


/*The 'thesis' section will be similar to the schedule section, set up Thur 12 Nov 2020 */

/********************Footer************************/
.footerContainer {
	border: solid pink 2px;
	display: flex;
	justify-content: space-between;
}

.copyright  p {
	padding-left: 24px;
}

.legalDocs ul {
	list-style-type: none;
}

.legalDocs li{
	display: inline;
}

.copyright, .legalDocs {
	border: solid pink 4px;
	width: 25%;
	
}
